Jakub Spólnik  <jakubspolnik@student.agh.edu.pl> <jakub.jan.spolnik@gmail.com>
Paweł Gacek <pawelgacek@student.agh.edu.pl>
Bartosz Dudek <dudekb@student.agh.edu.pl>
Michal Godek <mgodek@student.agh.edu.pl> <712020:c1cdd79d-6f7b-4aaf-a7a4-4c7e70395fbd@bots.bitbucket.org>
