# Mailmap for consolidating contributors

Jakub Spólnik <jakubspolnik@student.agh.edu.pl> lawos <jakubspolnik@student.agh.edu.pl>
Jakub Spólnik <jakubspolnik@student.agh.edu.pl> lawos <jakub.jan.spolnik@gmail.com>
Jakub Spólnik <jakubspolnik@student.agh.edu.pl> Jakub Spólnik <85324038+lawos98@users.noreply.github.com>

Paweł Gacek <pawelgacek@student.agh.edu.pl> Paweł Gacek <80721230+pwgacek@users.noreply.github.com>
Paweł Gacek <pawelgacek@student.agh.edu.pl> pwgacek <pawelgacek@student.agh.edu.pl>

Bartosz Dudek <dudekb@student.agh.edu.pl> Bartosz Dudek <79313233+dudiiiiiiii@users.noreply.github.com>

Michał Godek <mgodek@student.agh.edu.pl> jagodek <mgodek@student.agh.edu.pl>
Michał Godek <mgodek@student.agh.edu.pl> jagodek <712020:c1cdd79d-6f7b-4aaf-a7a4-4c7e70395fbd@bots.bitbucket.org>
